body{
  background-color: #606060FF;
}
.App {
  text-align: center;
  background-color: #ADEFD1FF;
  width:30%;
  margin:0 auto;
  border-radius: 3px;
}

.App h1{
  color:#00203FFF;
  padding:30px
}
.App form{
  padding:20px 0px 0px 0px;
}

.App .msg{
  color: crimson;
  padding:10px;
}

.App Button {
  margin: 12px 10px;
}
.App AddCircleIcon{
  margin-top: 20px;
}
.addBtn{
 font-size: 2.5rem !important;
 margin: 10px 0px 0px 10px;
}
.active{
  opacity: 1;
}
.disabled{
  opacity: 0.5;
}
.listData{
  /* width:100%; */
 margin-left: 60px;
}
.todoText{
  color:#606060 ;
}
.editIcon .deleteIcon{
  padding-right:10px
}